#OS
.DS_STORE
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*~

# Logs
*.log

# Temporary
*.tmp
*.bak

# Environment
.env
.env.local

# Build
dist/
build/
task-details/
# 防止密钥泄漏
*.pem
*.key
id_*
*.pub
/private*
